body {
	font-family: Verdana, Sans-Serif, Lucida Console;
}

img {
	height:140px; width:100px;
	border: 1px solid #000000;
}



td {
	margin: 10px 30px 15px 30px; /*top right down left*/
	padding: 10px 30px 15px 30px; /*top right down left*/
}

#titleBar {
	border-bottom: 1px solid #A6A6A6;
	text-decoration: none;
	
}

a:link, a:visited, a:active { 
	color: #7A7A7A;
	text-decoration: none; 
}

a:hover { 
	color: #FFAE00;
}